<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h2>Link Status</h2>
    <p>Short Code: {{code}}</p>
    <p>Hits: {{hits}}</p>
    <a href="/">Back</a>
</div>
</body>
</html>
